.button {
    -fx-border-color: #025692;
    -fx-text-fill: #025692;
    -fx-font-family: "Berlin Sans FB";
    -fx-font-size: 16;
    -fx-cursor: HAND;
    -fx-font-weight: bold;
}

.sensitive {
    -fx-text-fill: #b10000;
    -fx-border-color: #b10000;
    -fx-cursor: HAND;
}

.label {
    -fx-font-family: "Berlin Sans FB";
    -fx-font-size: 20;
    -fx-text-alignment: center;
}

.smallButton {
    -fx-border-color: #025692;
    -fx-text-fill: #025692;
    -fx-font-family: "Berlin Sans FB";
    -fx-font-size: 14;
    -fx-cursor: HAND;
    -fx-font-weight: bold;
}

.bigLabel {
    -fx-font-size: 45;
}

.image {
    -fx-cursor: HAND;
}

.combo-box {
    -fx-font-family: "Berlin Sans FB";
    -fx-font-size: 20;
    -fx-text-alignment: CENTER;
}

.check-box {
    -fx-font-family: "Berlin Sans FB";
    -fx-font-size: 20;
}

.score {
    -fx-font-family: "Berlin Sans FB";
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-text-alignment: left;
}

.title {
    -fx-font-weight: bold;
    -fx-font-size: 30;
}

.text-field {
    -fx-font-family: "Berlin Sans FB";
}